@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lexend+Deca&family=Oswald:wght@200&display=swap');

body {
    font-size: 18px;
    font-family: Inter, Sans-serif;
    height: 100vh;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO DO HEADER */
header {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color:chocolate;
    border: 2px solid coral;
}

.perfilLog {
    width: 200px;
    border-radius: 50%;
    border: 5px solid coral;
}
.perfilLog:hover {
    width: 195px;
    transition: 0.4s;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.navBar {
    text-decoration: none;
    color: white;
}
.navBar:hover {
    font-size: 17px;
    transition: 0.4s;
}

/* ESTILIZAÇÃO DA MAIN ABA SOBRE*/
main {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

strong {
    font-size: 50px;
}

span {
    color: chocolate;
    font-size: 50px;
}

.enderecoEmail {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    flex-wrap: wrap;
}

.email {
    text-transform: uppercase;
    color: chocolate;
    font-weight: 600;
}

.redesSociais {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

img {
    width: 55px;
}

.imageRedesSociais:hover {
    width: 50px;
    transition: 0.4s;
}

p {
    text-align: justify;
}

/* ESTILIZAÇÃO DA ABA CONHECIMENTOS */
ol {
    font-size: 30px;
}

/* ESTILIZAÇÃO DA ABA OBJETIVOS */
ul {
    font-size: 30px;
}